venv/
.venv/
venv/*
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
database.db
instance/
.env
.env.*
uploads/
static/uploads/
.vscode/
/.mypy_cache/
*.log
pip-wheel-metadata/
build/
dist/
egg-info/
*.egg
